@font-face {
    font-family: plexMono;
    src: url(/fonts/IBMPlexMono-Regular.ttf);
}

* {
    font-family: plexMono;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 0 15px;
}

h1 {
    padding: 20px 20px 0;
    width: 100%;
    text-align: center;
}

h1 img {
    max-width: 400px;
    width: 100%;
    height: auto;
}

.letter {
    background-color: #f0f0f0;
    max-width: 600px;
    width: 100%;
    padding: 25px 20px 30px;
    border-radius: 10px;
    margin-bottom: 50px;
}

#contributors {
    padding: 15px;
    background-color: #693a9d;
    color: white;
    border-radius: 15px;
}

#contributors a {
    color: white;
}

.centered {
    margin: auto;
}

.btn {
    display: inline-block;
    margin: 10px 0;
    background-color: #693a9d;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    border: 3px solid #693a9d;
    transition: all 0.3s ease;
    position: relative;
    top: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.btn:hover {
    background-color: #693a9d;
    color: #ffffff;
}

.btn:active {
    background-color: #3A0066;
    color: #ffffff;
    top: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.btn.secondary {
    background-color: #ffffff;
    color: #693a9d;
    border: 3px solid #693a9d;
}

.btn.secondary:hover {
    background-color: #f0f0f0;
    color: #693a9d;
    border-color: #693a9d;
}

.btn.secondary:active {
    background-color: #e0e0e0;
    color: #3A0066;
    border-color: #3A0066;
    top: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

li {
    margin-bottom: 10px;
}

@media (max-width: 600px) {
    h1 {
        padding: 15px 15px 0;
    }

    body {
        padding: 0;
    }
    
    .letter {
        padding: 20px 15px 25px;
        margin-bottom: 30px;
    }
    
    .btn {
        display: block;
        text-align: center;
        margin: 15px 0;
    }
}
